body {
 margin: 0;
 padding: 0;
 background: #2ecc71;
}

.SearchBox {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 100px;
 border-radius: 100px;
 padding: 100px;
}

.SearchBox:hover > .text {
 width: 240px;
 padding: 0 6px;
}

.SearchBox:hover > .SearchButton {
 background: white;
 color: black;
}

.SearchButton {
 color: #E84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 cursor: pointer;
}

.SearchButton > i {
 font-size: 30px;
}

.text{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #2ecc71;
}

.right {
  right: 0;
  background-color: #3498db;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}