.wrapper {
    text-align: center;
    background-color: white;
    color: black;

}

.signup-container {
    background-image: url("images/devimage.jpg");
    background-repeat: no-repeat;
    background-position: 600px;
    background-color: #202125;
    height: 900px;
    color: white;
}

.title {
    text-align: left;
    padding-left: 200px;
    padding-top: 50px;
    font-size: 50px;
}

.header {
    padding-top: 80px;
    padding-left: 200px;
    text-align: left;
    line-break: anywhere;
    color: rgb(87, 223, 87)
}

.emailwrap {
    text-align: left;
    padding-left: 200px;
    padding-top: 20px;
}

.form {
    border-spacing: -2px;
}

.email {
    width: 350px;
    height: 25px;
    border: 2px solid rgb(37, 219, 219);
}

.button {
    height: 31px;
    background-color: rgb(37, 219, 219);
    border: 2px rgb(37, 219, 219);
}

div.mce_inline_error {
    max-width: 410px;
}

.caption {
    padding-top: -10px;
}

.info-title {
    position: relative;
}

.infobox {
    display: inline-block;
    background-color: lightgreen;
    width: 50%;
    position: relative;
    word-wrap: break-word;

}

.big-sub {
    color: rgb(37, 219, 219);
}

.h2 {
    position: absolute;
}

.footer-wrap {
    text-align: center;
    margin-top: 5%;
    height: 80px;
    background-color: rgb(37, 219, 219);
    padding-top: 40px;
}

a { 
    color: darkgreen;
}
.footer {
    display: inline-block;
}